<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stylelogin.css">
    <title>Clientes</title>
</head>
<body>
    <div class="topnav">
        <a href="{{url_for('inicio')}}">🚩 Inicio</a>
        <a href="{{url_for('appuser.login')}}">👨‍👧 Inicio de Sesion </a>
        <a href="{{url_for('appuser.registro')}}">📔 Registrar usuario </a>
        <a href="{{url_for('appjuguete.getJuguete')}}"> 🧸 Juguetes </a>
        <a href="{{url_for('appproveedor.getProveedor')}}"> 📦 Proveedores </a>
        <a href="{{url_for('appuser.getUsers')}}"> 🔐 Admin</a>
      </div>
    <div class="body">
        <h1>Información detallada</h1>
        <div>
            <a href="{{ url_for('appjuguete.getJuguete') }}">Regresar</a>
        </br>
        </div>

        <div>
            <h3>ID: {{juguete.id}}</h3>
            <h3>Nombre del producto: {{juguete.nombre}}</h3>
            <h3>Costo: {{juguete.costo}}</h3>
            <h3>Cantidad en inventario: {{juguete.cantidad}}</h3>
            <h3>Proveedor: {{proveedor}}</h3>
            <h3>Imagen del producto:</h3>
            <img src="data:image/jpg;base64,{{imagen}}" alt="Imagen" width="100">
            <div>
                <a href="/juguetes/detalle/descarga//{{juguete.id}}">Descargar</a>
            </br>
            </div>
        </div>
    </div>
    
</body>