<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Error 505- Jugueteria </title>
    <link rel="stylesheet" href="../static/css/Style404.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">🚩 Inicio </a>
        <a href="#Login">👨‍👧 Login </a>
        <a href="#Contacto">📔 Contacto </a>
        <a href="#Acerca">ℹ Acerca de </a>
      </div>
    </div>
    <div class="contenedor">
        <h1>500</h1>
        <p>Internal Server Error</p>
    </div>
</body>
</html>
